@media (max-width: 767px) {

.navbar-brand {
	padding: 20px 0;
}

.banner-head {
	margin-top: 20px;
	font-size: 14px;
}

.banner {
	padding: 0;
}
.navbar-brand img{
	width: 120px;
}

.logo-col {
	text-align: center;
	margin: 40px;
}

.gray-bg h5{
	font-size: 13px;
	padding: 15px 0 0 0;
}

.team {
	font-size: 10px;
}

.team i{
	margin-bottom: 20px;
}

.mobile .fa{
	margin-top: 20px;
}

.mobile .active {
	display: inline-block;
}

.black-2 {
	margin: 10px;
}

.video {
	margin: 0;
	padding: 0;
	width: 80%;
}

.chart-bg h4,h5 {
	font-size: 15px;
	text-align: center;
}

.chart-bg p{
	text-align: center;
}
.chart-bg {
	padding: 0px;
	margin: 10px 0;
}

.mobile li {
	font-size: 10px;
	padding:20px 0 0 10px;
	margin: 0;
}

.center-bg, .blue-bg {
	margin: 10px;
}

.testimonial h4{
	font-size: 13px;
}

.slide-txt {
	padding-right: 3%;
	width: 13%;
}

}

