
body {
	font-size: 12px;
}

@font-face {
    font-family: "Myriad Pro";
    src: url("css/fonts/MyriadPro-Regular.otf");
}

.banner {
	background: url("banner-blue.jpg") no-repeat center center;
	background-size: cover;	
	padding-bottom:  40px;
	background-size: auto;
}


.navbar-brand {
	padding-top: 25px;
}

.nav-item {
	padding: 25px 20px 0;
	font-family: 'Work Sans medium', sans-serif;
}

.rule {
	border-bottom: 2px solid;
	color: #4a7cbd;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.bor-bot  {
    border-bottom: 2px solid #8799a3;
    position: relative;
    top: 21px; 
}
 
.form-1 {
    margin-top: 80px;
    color: white;
    border: 8px solid;
    border-radius: 10px;
    background-color: #264a79;
    opacity: .8; 
    border-image: linear-gradient(-90deg, #42d69e, #3367fe);
    border-image-slice: 1; 
}

.form-name {
	height: 38px;
}

.banner-head {
	margin-top: 200px;
	color: white;
	font-family: 'Lato', sans-serif;
}

.logo-col .fa {
	color: #0081ff;
	font-size: 35px;
}

.gray {
	background-color: #d7d7d7;
}

.team .fa {
	padding: 5px;
	color: black;
}

.black {
	background-color: #1d1d1d;
	margin-top: 100px;
}

.black-2 {
	margin-top: -40px;
	color: white;
	padding: 40px;
	background-color: #1d1d1d;
}

.video {
	margin-top: -70px;
}

.chart-bg {
	background-image: url(chart-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px; 
}

.chart-bg h4{
	color: #3a53de;
}

.chart-bg small{
	color: #b5b5b5;
}

.chart-bg p {
	margin: 0;
}

.mobile{
	background-color: #303030;
	color: white;
	position: relative;
}

.top-curve {
	width: 100%;
	height: 10vw;
	position: absolute;
}

.bottom-curve{
	width: 100%;
	height: 10vw;
	position: absolute;
	bottom: 0;
}

.mobile .fa {
	font-size: 40px;
	padding: 10px 0 20px;
}

.mobile a {
	/*border-bottom: 1px solid;*/
	color: white;
	padding-bottom: 10px;
	display: inline-block;	
}

.blue-bg {
	background-color: #3b55e6;
	border-radius: 20px;
	padding: 20px;
	color: white;
	position: relative;
	z-index: 1;
}

.big {
	font-size: 35px;
}

.center-bg{
	background: url(wash.jpg);
	background-position: bottom;
	background-size: cover; 
	border-radius: 20px;
	box-shadow: 10px 10px 40px grey;
	padding: 25px;
	margin: 0 -25px 0 -25px;
}

.meet-up{
	font-size: 80px;
	position: absolute;	
	bottom: -40px;
	left: -25px;
}

.meet-up2{
	font-size: 80px;
	position: absolute;	
	bottom: -40px;
	right: -25px;
}

.form-row textarea, input[type=text], input[type=tel] {
	background-color: #f2f2f2;
}

.gray-text {
	color: #b5b5b5;	
}

.txt-break {
	width: 70%;
	overflow-wrap: break-word;
}

.slides {
	position: relative;
	/*width: 100%;*/
}

/*.slide-txt {*/
	/*padding: 2%;*/
	/*position: absolute;*/
	/*top: 0;*/
	/*color: white;*/
	/*width: 15%;*/
/*}*/
/*.gray-circ {
	height: 60px;
	width: 60px;
	border: 1px ;
	border-radius: 50px;
	background-color: gray;
	position: absolute;
	bottom: -25px;
	left: 40%;
}
*/
.slick-dots li.slick-active button:before {
    /*opacity: .75;*/
    color: blue !important;
}

.slick-dots li button:before {
    color: lightgray !important;
}

.box {
	width: 50px;
	height: 50px;
	background-color: black;
	border-radius: 5px;
}

.footer-rule {
	 border-right: 1px solid #444548;
}

.footer-1 {
	background-color: #2f3033;
	color: white;
}

.form-black input[type=text]{
	background-color: #444548;
}

.footer-icon .fa {
	color: white;
}

.footer-icon .blue-twit {
	color: #3b55e6;
}

.blue-twit .fa {
	color: #3b55e6;
}

.no-blue a{
	text-decoration: none;
	color: gray;
}

.footer-2 {
	background-color: #252628;
	padding: 20px;
	color: #5b5b5c;
	border-top: 1px solid #444548; 
}

.slides{
	background: url("../images/quote.png") center center;
	background-size: cover;

	min-height: 300px;
	padding: 15px;
	color: #fff;
}
.slick-slides{
	vertical-align: middle;
}